<!DOCTYPE html>
<html lang="en">
<meta charset='UTF-8'>
<body>
<table>
<td>
<img src="/images/scissors.gif" style = "height:40px; padding-top:8px"/>
</td>
<td>TinyApp</td>
</table>
<table>
<tr>
<% if(user){ %>

<td> Welcome, <b><%= useremail %> </b></td>
<td><a href= "/urls">My Links</a>
<td><form action="/logout" method="POST" style="margin:50px;">
    <input type="submit" value="Log Out">
    </form>
</td>

<% }else{ %>

<td><a href="/login">Login</a></td>
<td><a href="/register">Register</a></td>

<% }%>
</tr>

</table>
</body>



