<table>
<td>
<img src="/images/scissors.gif" style = "height:50px; padding-top:8px"/>
</td>
<td><h1>TinyApp</h1></td>
<tr>

<td><a href="/login">Login</a></td>
<td><a href="/register">Register</a></td>
</tr>

</table>



