<!doctype html>
<html>
<link type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" rel="stylesheet">
<style>
body {
  font-family: 'Lato', sans-serif;
  }
}
</style>
  <head>
  </head>
  <body>
    <img src="https://http.cat/400" alt="Bad Request"/>
    <b>Email or password field empty, or email already exists</b>
    <a href="/login">Log In</a>
    <a href="/register">Register</a>
  </body>
</html>