<!DOCTYPE html>
<html lang="en">
<head></head>
<body style="font-size:20px; padding:50px;">
  <header><% include partials/_header %></header>
   <form action="/login" method="POST" style="margin:50px;">
      <label>Welcome back! Please log in</label>
      <input id="email" type="email" name="email" placeholder="Email" style="width: 300px;">
      <input id="password" type="password" name="password" placeholder="Password" style="width: 300px;">
      <input type="submit" value="Log in">
    </form>
  </body>
</html>
