<!DOCTYPE html>
<html lang="en">
<link type="text/css" href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" rel="stylesheet">
<style>
body {
  font-family: 'Lato', sans-serif;
  }
}
</style>
<head>
</head>


<body>
<header><% include partials/_header %></header>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:50px;">
      <label for="longURL">ShortURL: <b><%= shortURL %></b></label>
      <input id="longURL" type="text" name="longURL" placeholder="<%= urls[shortURL].longURL %>" style="width: 300px;">
      <input type="submit" value="Update">
    </form>
  </ul>
</body>
</html>